**/node_modules
**/.next
**/out
**/build
**/dist
**/.git
**/.gitignore
**/*.md
**/.env
**/.env.local
**/.env.*
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.venv
**/venv
**/.vscode
**/.idea
**/.system_generated
**/.tempmediaStorage
**/*.log
